<!DOCTYPE html>
<html>
  <head>
    <title>Flume</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Flume</h1>
    <p>Here are some photos</p>
    <ul>
      <li><img src='/images/flume1.jpg'/></li>
      <li><img src='/images/flume2.jpg'/></li>
      <li><img src='/images/flume3.jpg'/></li>
    </ul>
  </body>
</html>
